

.productPage-card{
    /* border: solid 1px red; */
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    gap: 2rem;
    height: max-content;
}


.info-section{
    /* border: solid 1px red; */
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-section .title{
    text-align: start;
    font-size: 1.5rem;
}

.info-section .price {
    color: rgb(90, 204, 90);
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
}

.info-section .description{
    align-self: start;
    font-size: 1rem;
    text-align: left;
    
}

.info-section .rating{
    /* border: solid 1px red; */
    align-self: flex-start;
}
.info-section .product-button{
    /* border: solid 1px red; */
    align-self: flex-end;
    padding: 1rem 2rem;
    background: rgb(125, 125, 220);
}

.info-section .product-button:hover{
    background: rgb(105, 200, 132);
    
}