* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.product-container {
    /* border: solid 1px red; */
    padding: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.product-card {
    /* border: solid 1px red; */
    box-shadow: -0.1rem 0.1rem 0.8rem 0.1rem gray;
    border-radius: 2rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 25rem;
    height: 38rem;
}


.productImages {
    /* border: solid 1px red; */
    align-self: center;
    width: 15rem;
    height: 15rem;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.price {
    color: rgb(90, 204, 90);
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.category {
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
}

.rating {
    /* border: solid 1px red; */
    align-self: center;
    font-weight: 550;
    font-size: 1.25rem;
    display: flex;
    gap: 12rem;
}

.rate-star {
    color: gold;
    padding-right: 0.3rem;
}

.cart-button {
    border: solid 5px black;
    font-size: 1.5rem;
    padding: 0.7rem 0rem;
    background: #7EBE44;
    color: black;
    border-radius: 1rem;
    border: 2px solid black;
}


.cart-button:hover {
    cursor: pointer;
    background: #2d74c7;
    color: white;
}

.cart-icon {
    background: black;
    padding: 0.5rem 0.4rem;
    border-radius: 2rem;
    color: white;
}

.cart-button:hover .cart-icon {
    color: black;
    background: white;
}

.curd-button {
    align-self: center;
    font-weight: 550;
    font-size: 1.25rem;
    display: flex;
    gap: 12rem;
}

.edit,
.delete {
    margin-top: 0.1rem;
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    border-radius: 1rem;
}

.curd-hover:hover {
    cursor: pointer;
    background: cyan;
    color: black;
}

@media screen and (max-width:500px) {


    .product-container {
        /* border: solid 1px red; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .product-card {
        /* border: solid 1px red; */
        box-shadow: -0.2rem 0.1rem 0.5rem rgb(132, 136, 136);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-basis: 9rem;
    }

    .productImages {
        width: 10rem;
        height: 10rem;
    }

    .title {
        display: flex;
        border: solid 1px red;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }

    .price {
        font-size: 1.5rem;
    }

    .category {
        font-weight: 600;
        font-size: 0.8rem;
        text-transform: capitalize;
    }

    .rating {
        font-size: 1rem;
        gap: 5rem;
    }

    .rate-star {
        padding-right: 0rem;
    }

    .cart-button {
        font-size: 0.8rem;
        padding: 0rem 0rem;
        flex-basis: 2rem;
    }

    .edit,
    .delete {
        font-size: 1rem;
        margin-top: 0.1rem;
        padding: 0.5rem 1rem;
        background: black;
        color: white;
        border-radius: 1rem;
    }

}