.headerStyle {
    /* border: solid 1px red; */
    background: rgb(73, 128, 73);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-wrap: wrap;
}

.logoStyle {
    width: 4rem;
    height: 3.5rem;
    border-radius: 1rem;
    margin: 1rem
}

.accountOptions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 2rem
}

.cart-bar{
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.cart-bar-icon{
    padding: 0 0.2rem;
}


.cart-count{
    margin-left: 0.5rem;
}

@media screen and (max-width:800px) {
    
    .headerStyle {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo {
        display: flex;
        align-items: center;
        font-size: 2rem;
        flex-wrap: wrap;
    }

    .login {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        border-radius: 1rem
    }
    
    .signUp {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        border-radius: 1rem;
    }
    
    
}